<div id="content" class="main-content">
    <div class="layout-px-spacing d-flex flex-column">

        <!-- Breadcrumb start -->
        <div class="page-header mt-2">
            <nav class="breadcrumb-one" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">
                        <a>Threshold Settings</a>
                    </li>
                </ol>
            </nav>
        </div>
        <!-- Breadcrumb end -->

        <!-- Content -->
        <div class="row layout-top-spacing">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                <app-threahold-settings-panel></app-threahold-settings-panel>
            </div>
        </div>
        <!-- content ends -->

    </div>
</div>