<div class="statbox box box-shadow">
    <div class="widget-content widget-content-area p-4 br-6">

        <div class="d-flex align-items-start">

            <!-- Given-details -->
            <div class="col-7 my-4 given-details">

                <h5 class="fs-5 text-primary fw-semibold mb-2">Basic details</h5>
                <div class="container-fluid mb-4">

                    <div class="row mb-1">
                        <div class="col-6 fs-6 text-dark">
                            Name
                        </div>
                        <div class="col-6 fs-6 text-dark">
                            : {{recordData.name}}
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-6 fs-6 text-dark">
                            Email Address
                        </div>
                        <div class="col-6 fs-6 text-dark">
                            : {{recordData.emailId}}
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-6 fs-6 text-dark">
                            Mobile Number
                        </div>
                        <div class="col-6 fs-6 text-dark">
                            : {{recordData.mobileNumber}}
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-6 fs-6 text-dark">
                            Parent Name
                        </div>
                        <div class="col-6 fs-6 text-dark">
                            : {{recordData.parentName}}
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-6 fs-6 text-dark">
                            Gender
                        </div>
                        <div class="col-6 fs-6 text-dark">
                            : {{recordData.gender}}
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-6 fs-6 text-dark">
                            DOB
                        </div>
                        <div class="col-6 fs-6 text-dark">
                            : {{recordData.dob}}
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-6 fs-6 text-dark">
                            Qualification
                        </div>
                        <div class="col-6 fs-6 text-dark">
                            : {{recordData.qualification}}
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-6 fs-6 text-dark">
                            Physically Handicapped
                        </div>
                        <div class="col-6 fs-6 text-dark">
                            : {{recordData.physicallyHandicapped ? 'Yes' : 'No'}}
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-6 fs-6 text-dark">
                            Alternative Occupation
                        </div>
                        <div class="col-6 fs-6 text-dark">
                            : {{recordData.alternativeOccupation ? 'Yes' : 'No'}}
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-6 fs-6 text-dark">
                            Provider
                        </div>
                        <div class="col-6 fs-6 text-dark">
                            : {{recordData.provider ? 'Yes' : 'No'}}
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-6 fs-6 text-dark">
                            Entity Type
                        </div>
                        <div class="col-6 fs-6 text-dark">
                            : {{recordData.entityType ? 'Yes' : 'No'}}
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-6 fs-6 text-dark">
                            Alternative Number
                        </div>
                        <div class="col-6 fs-6 text-dark">
                            : {{recordData.alternativeNumber ? 'Yes' : 'No'}}
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-6 fs-6 text-dark">
                            Physically Handicapped
                        </div>
                        <div class="col-6 fs-6 text-dark">
                            : {{recordData.physicallyHandicapped ? 'Yes' : 'No'}}
                        </div>
                    </div>

                </div>

                <h5 class="fs-5 text-primary fw-semibold mb-2">Residential details</h5>
                <div class="container-fluid mb-4">

                    <div class="row mb-1">
                        <div class="col-6 fs-6 text-dark">
                            Full Address
                        </div>
                        <div class="col-6 fs-6 text-dark">
                            : {{recordData.residentialFullAddress}}
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-6 fs-6 text-dark">
                            Landmark
                        </div>
                        <div class="col-6 fs-6 text-dark">
                            : {{recordData.residentialLandmark}}
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-6 fs-6 text-dark">
                            PIN Code
                        </div>
                        <div class="col-6 fs-6 text-dark">
                            : {{recordData.residentialPinCode}}
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-6 fs-6 text-dark">
                            District
                        </div>
                        <div class="col-6 fs-6 text-dark">
                            : {{recordData.residentialDistrict}}
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-6 fs-6 text-dark">
                            City
                        </div>
                        <div class="col-6 fs-6 text-dark">
                            : {{recordData.residentialCity}}
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-6 fs-6 text-dark">
                            State
                        </div>
                        <div class="col-6 fs-6 text-dark">
                            : {{recordData.residentialState}}
                        </div>
                    </div>

                </div>

                <h5 class="fs-5 text-primary fw-semibold mb-2">Business Information details</h5>
                <div class="container-fluid mb-4">

                    <div *ngIf="recordData.isBusinessDetailsSame;else elseTemplate">
                        <div class="row mb-1">
                            <div class="n-chk">
                                <label class="new-control new-checkbox checkbox-primary fs-6 text-dark">
                                    <input type="checkbox" class="new-control-input" checked>
                                    <span class="new-control-indicator"></span>
                                    <span class="ms-1">Same as above</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <ng-template #elseTemplate>
                        <div class="row mb-1">
                            <div class="col-6 fs-6 text-dark">
                                Full Address
                            </div>
                            <div class="col-6 fs-6 text-dark">
                                : {{recordData.businessFullAddress}}
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-6 fs-6 text-dark">
                                Landmark
                            </div>
                            <div class="col-6 fs-6 text-dark">
                                : {{recordData.businessLandmark}}
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-6 fs-6 text-dark">
                                PIN Code
                            </div>
                            <div class="col-6 fs-6 text-dark">
                                : {{recordData.businessPinCode}}
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-6 fs-6 text-dark">
                                District
                            </div>
                            <div class="col-6 fs-6 text-dark">
                                : {{recordData.businessDistrict}}
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-6 fs-6 text-dark">
                                City
                            </div>
                            <div class="col-6 fs-6 text-dark">
                                : {{recordData.businessCity}}
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-6 fs-6 text-dark">
                                State
                            </div>
                            <div class="col-6 fs-6 text-dark">
                                : {{recordData.businessState}}
                            </div>
                        </div>
                    </ng-template>

                </div>

            </div>

            <div class="col-5 my-4 uploaded-docs">

                <h5 class="fs-5 text-primary fw-semibold mb-2">Uploaded Documents</h5>
                <div class="d-flex img-container flex-wrap">

                    <div class="col-6 d-flex flex-column align-items-end px-2 py-2">
                        <div class="pan-image-holder rounded-3 bg-light-secondary p-3 w-100">
                            <img class="rounded w-100" src="../../../assets/img/aadhar_front_example.jpg"
                                alt="front_pic">
                        </div>
                    </div>
                    <div class="col-6 d-flex flex-column align-items-end px-2 py-2">
                        <div class="pan-image-holder rounded-3 bg-light-secondary p-3 w-100">
                            <img class="rounded w-100" src="../../../assets/img/aadhar_back_example.png"
                                alt="front_pic">
                        </div>
                    </div>
                    <div class="col-6 d-flex flex-column align-items-end px-2 py-2">
                        <div class="pan-image-holder rounded-3 bg-light-secondary p-3 w-100">
                            <img class="rounded w-100" src="../../../assets/img/aadhar_front_example.jpg"
                                alt="front_pic">
                        </div>
                    </div>
                    <div class="col-6 d-flex flex-column align-items-end px-2 py-2">
                        <div class="pan-image-holder rounded-3 bg-light-secondary p-3 w-100">
                            <img class="rounded w-100" src="../../../assets/img/aadhar_back_example.png"
                                alt="front_pic">
                        </div>
                    </div>
                    <div class="col-6 d-flex flex-column align-items-end px-2 py-2 ms-auto">
                        <div class="pan-image-holder rounded-3 bg-light-secondary p-3 w-100">
                            <img class="rounded w-100" src="../../../assets/img/sample-pan-card.jpg"
                                alt="front_pic">
                        </div>
                    </div>
                    

                </div>
            </div>

        </div>

    </div>
</div>