<!-- ADD USER MODAL FORM -->
<div class="modal-content">

    <!-- modal header -->
    <div class="modal-header">
        <h5>Add User</h5>
    </div>
    <!-- modal header ends -->

    <!-- modal body -->
    <div class="modal-body">
        <form [formGroup]="addUserForm" (ngSubmit)="submitAddUserForm()">

            <div class="form-group ">
                <input type="text" class="form-control" formControlName="firstname" placeholder="First Name">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" formControlName="lastname" placeholder="Last Name">
            </div>

            <div class="form-group">
                <input type="email" class="form-control" formControlName="email" placeholder="Email">
            </div>

            <div class="form-group">
                <input type="phone" class="form-control" formControlName="phone" placeholder="Mobile Number">
            </div>

            <div class="form-group">
                <input type="password" class="form-control" formControlName="password" placeholder="Password">
            </div>

            <select class="form-control form-select" formControlName="role">
                <option selected disabled>Role</option>
                <option>Admin</option>
                <option>User</option>
            </select>

            <div class="d-flex">
                <div class="form-check p-4">
                    <input type="checkbox" class="form-check-input" checked>
                    <label class="form-check-label">Edit</label>
                </div>
                <div class="form-check p-4">
                    <input type="checkbox" class="form-check-input">
                    <label class="form-check-label">View</label>
                </div>
            </div>


            <div class="d-flex">
                <label class="switch s-icons s-outline  s-outline-success  mb-4 mr-2">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
                <label>Unable</label>
            </div>



            <button type="submit" class="btn btn-success ">Add </button>
        </form>
    </div>
    <!-- modal body ends -->

    <!-- modal footer -->
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="activeModal.close('Close click')">Close</button>
    </div>
    <!-- modal footer ends -->

</div>